<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :"メールアドレス", style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :"名前", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :"生年月日", style: "display: block" %>
    <%= form.date_field :birthday %>
  </div>

  <div>
    <%= form.label :"性別", style: "display: block" %>
    <%= form.check_box :gender %>
  </div>

  <div>
    <%= form.label :"パスワード", style: "display: block" %>
    <%= form.number_field :crypted_password %>
  </div>

  <div>
    <%= form.submit "ユーザー情報の更新" %>
  </div>
<% end %>
